colorama==0.4.6libximc==3.0.2llvmlite==0.46.0numba==0.64.0numpy==2.4.3pandas==3.0.1plumbum==1.10.0pyft232==0.12pylablib==1.4.4PyQt5==5.15.11PyQt5-Qt5==5.15.2PyQt5_sip==12.18.0pyqtgraph==0.14.0pyserial==3.5python-dateutil==2.9.0.post0pyusb==1.3.1pywin32==311pywinusb==0.4.2rpyc==6.0.2scipy==1.17.1six==1.17.0typing_extensions==4.15.0